extends ../layout

block content
    div.book-content
    a(href=`/book/edit/${book.id}`) Edit Book
    a(href=`/book/delete/${book.id}`) Delete Book
    h3=book.title
    p= book.genre
    p= book.pages
    p= book.description
    div.book-image
        #{book.image}
    div.author-content
        p Author:
        p #{book.author}